n8n/bounce-processor.json
{
  "name": "Warmr — Bounce Processor",
  "nodes": [
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Schedule: Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "POST /bounces/process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WARMR_API_BASE }}/bounces/process",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.WARMR_API_TOKEN }}" }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.triggered ?? $json.ok ?? true }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "OK — Bounces processed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200],
      "parameters": {}
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000005",
      "name": "Log bounce error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/warmup_logs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'error', notes: 'n8n bounce-processor: ' + ($json.error || JSON.stringify($json)), timestamp: new Date().toISOString() }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule: Every 30 min": {
      "main": [
        [{ "node": "POST /bounces/process", "type": "main", "index": 0 }]
      ]
    },
    "POST /bounces/process": {
      "main": [
        [{ "node": "Success?", "type": "main", "index": 0 }]
      ]
    },
    "Success?": {
      "main": [
        [{ "node": "OK — Bounces processed", "type": "main", "index": 0 }],
        [{ "node": "Log bounce error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "warmr" },
  "notes": "Processes unresolved bounce_log entries every 30 minutes.\nHard bounces: remove from list + blacklist domain.\nSoft bounces: retry 3x with 24h interval.\nSpam complaints: pause inbox 24h + reduce reputation by 20.\nStops ALL sends if bounce rate > 3% on any single inbox."
}
