n8n/enrichment-worker.json
{
  "name": "Warmr — Enrichment Worker",
  "nodes": [
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000001",
      "name": "Schedule: Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000002",
      "name": "POST /enrichment/process-queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WARMR_API_BASE }}/enrichment/process-queue",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.WARMR_API_TOKEN }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000003",
      "name": "Any processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-err",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000004",
      "name": "Log enrichment stats",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "ran_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "processed",
              "value": "={{ $json.processed ?? 0 }}",
              "type": "number"
            },
            {
              "id": "s3",
              "name": "message",
              "value": "={{ $json.message ?? 'ok' }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000005",
      "name": "Log enrichment error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/warmup_logs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'error', notes: 'n8n enrichment-worker: ' + ($json.error || JSON.stringify($json)), timestamp: new Date().toISOString() }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule: Every 5 min": {
      "main": [
        [{ "node": "POST /enrichment/process-queue", "type": "main", "index": 0 }]
      ]
    },
    "POST /enrichment/process-queue": {
      "main": [
        [{ "node": "Any processed?", "type": "main", "index": 0 }]
      ]
    },
    "Any processed?": {
      "main": [
        [{ "node": "Log enrichment stats", "type": "main", "index": 0 }],
        [{ "node": "Log enrichment error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "warmr" },
  "notes": "Runs the enrichment queue worker every 5 minutes.\nProcesses max 10 leads per run (API rate limit safe).\nTimeout is 300s — Claude + Hunter + Clearbit + Apify can all run per lead.\nLeads in active campaigns have priority=1 and are processed first.\nOn completion, a lead.enriched webhook event fires back to the LeadGen tool."
}
