n8n/warm-up-sender.json
{
  "name": "Warmr — Warm-up Sender",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule: Every 20 min (07–19, Mon–Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0,20,40 7-18 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "POST /warmup/trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WARMR_API_BASE }}/warmup/trigger",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WARMR_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.triggered }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "OK — Warmup triggered",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Log error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/warmup_logs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'error', notes: 'n8n warm-up-sender: ' + ($json.message || JSON.stringify($json)), timestamp: new Date().toISOString() }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule: Every 20 min (07–19, Mon–Fri)": {
      "main": [
        [
          { "node": "POST /warmup/trigger", "type": "main", "index": 0 }
        ]
      ]
    },
    "POST /warmup/trigger": {
      "main": [
        [
          { "node": "Success?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          { "node": "OK — Warmup triggered", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log error to Supabase", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "warmr"
  },
  "notes": "Triggers the warmup engine every 20 minutes on weekdays between 07:00–19:00.\n\nRequired env vars in n8n:\n  WARMR_API_BASE        — e.g. http://localhost:8000\n  WARMR_API_TOKEN       — Supabase JWT for the service account or a long-lived admin token\n  SUPABASE_URL          — your Supabase project URL\n  SUPABASE_SERVICE_KEY  — service role key (for error logging)"
}
