n8n/warm-up-receiver.json
{
  "name": "Warmr — Warm-up Receiver (IMAP)",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Schedule: Every 10 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "POST /imap/process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WARMR_API_BASE }}/imap/process",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WARMR_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.triggered ?? $json.ok ?? true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Log stats",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "stat-1",
              "name": "imap_run_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "stat-2",
              "name": "result",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Log IMAP error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/warmup_logs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'error', notes: 'n8n warm-up-receiver: ' + ($json.error || JSON.stringify($json)), timestamp: new Date().toISOString() }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule: Every 10 min": {
      "main": [
        [{ "node": "POST /imap/process", "type": "main", "index": 0 }]
      ]
    },
    "POST /imap/process": {
      "main": [
        [{ "node": "Success?", "type": "main", "index": 0 }]
      ]
    },
    "Success?": {
      "main": [
        [{ "node": "Log stats", "type": "main", "index": 0 }],
        [{ "node": "Log IMAP error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "warmr" },
  "notes": "Runs the IMAP processor every 10 minutes.\nConnects to all active inboxes, rescues spam, marks warmup emails as read, generates replies.\nTimeout is 120s — IMAP connections can be slow."
}
